body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: gray;
    background-color: #f7f7ff;
    opacity: 1;
    background-image: linear-gradient(#f1f1f1 1px, transparent 1px), linear-gradient(to right, #f1f1f1 1px, #f7f7ff 1px);
    background-size: 20px 20px;
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20%;
    margin-left: -200px;
    text-align: center;
    background-color: white;
    padding: 48px 20px 50px;
    border-radius: 4px;
    font-size: 16px;
}

.login h3{
    margin: 0 0 18px 0;
}

.login input[type=text],
.login input[type=password]{
    border: 1px solid gray;
    padding: 7px 12px;
    border-radius: 3px;
    background: gainsboro;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.login input[type=submit]{
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}